<% content_for :page_title do %>
    <%=t 'activerecord.models.site_config' %>
<% end %>

<!-- start: PAGE TITLE & BREADCRUMB -->
<% content_for :page_crumbs do %>
    <ol class="breadcrumb">
      <li>
        <i class="clip-pencil"></i>
        <a href="#">
          控制面板
        </a>
      </li>
      <li class="active">
        编辑<%=t 'activerecord.models.site_config' %>
      </li>
      <li class="search-box">
        <form class="sidebar-search">
          <div class="form-group">
            <input type="text" placeholder="Start Searching...">
            <button class="submit">
              <i class="clip-search-3"></i>
            </button>
          </div>
        </form>
      </li>
    </ol>
    <div class="page-header">
      <h1>
        <small></small>
      </h1>
    </div>
<% end %>
<!-- end: PAGE TITLE & BREADCRUMB -->

<!-- start: PAGE CONTENT -->
<div class="row">
  <div class="col-sm-12">
    <!-- start: TEXT FIELDS PANEL -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-external-link-square"></i>
        编辑<%=t 'activerecord.models.site_config' %>
        <div class="panel-tools">
          <a class="btn btn-xs btn-link panel-collapse collapses" href="#">
          </a>
          <a class="btn btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal">
            <i class="fa fa-wrench"></i>
          </a>
          <a class="btn btn-xs btn-link panel-refresh" href="#">
            <i class="fa fa-refresh"></i>
          </a>
          <a class="btn btn-xs btn-link panel-expand" href="#">
            <i class="fa fa-resize-full"></i>
          </a>
          <a class="btn btn-xs btn-link panel-close" href="#">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="panel-body">
        <%= form_tag({controller: "site_configs", action: "commissions_config"}, method: "post", class: "form-horizontal") do %>
            <div class="form-group">
              <%= label_tag :note, :class => "col-sm-2 control-label" do %>
                  说明 <span class="symbol required"></span>
              <% end %>
              <div class="col-sm-9" style="margin: 8px auto auto auto;">
                提成分为三级，第一级表示购买者的上家，第二级表示购买者上家的上家，以此类推。分数计算百分比 = 购买总价 * 百分比
              </div>
            </div>
            <div class="form-group">
              <%= label_tag :a, :class => "col-sm-2 control-label" do %>
                  第一级提成 <span class="symbol required"></span>
              <% end %>
              <div class="col-sm-9">
                <%= text_field_tag :a, @a.val, class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <%= label_tag :b, :class => "col-sm-2 control-label" do %>
                  第二级提成 <span class="symbol required"></span>
              <% end %>
              <div class="col-sm-9">
                <%= text_field_tag :b, @b.val, class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <%= label_tag :c, :class => "col-sm-2 control-label" do %>
                  第三级提成 <span class="symbol required"></span>
              <% end %>
              <div class="col-sm-9">
                <%= text_field_tag :c, @c.val, class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <%= label_tag :sp, :class => "col-sm-2 control-label" do %>
                  分数计算百分比 <span class="symbol required"></span>
              <% end %>
              <div class="col-sm-9">
                <%= text_field_tag :sp, @sp.val, class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="submit"></label>
              <div class="col-sm-9">
                <%= submit_tag("提交", class: "btn btn-yellow btn-block") %>
              </div>
            </div>
        <% end %>

      </div>
    </div>
    <!-- end: TEXT FIELDS PANEL -->
  </div>
</div>
<!-- end: PAGE CONTENT-->
