<h2>编辑
  <%= resource_name.to_s.humanize %></h2>
<div class="form-box">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}, class: 'input-group') do |f| %>
    <%= devise_error_messages! %>
    <div class="input-row">
      <%= f.label :username %>
      <br/>
      <%= f.text_field :username %>
    </div>
    <div class="input-row">
      <%= f.label :email %>
      <br/>
      <%= f.email_field :email, autofocus: true %>
    </div>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for:
        <%= resource.unconfirmed_email %></div>
    <% end %>
    <div class="input-row">
      <%= f.label :password %>
      <i>(如果你不想修改密码就留空)</i><br/>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
    <div class="input-row">
      <%= f.label :password_confirmation %>
      <br/>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
    <div class="input-row">
      <%= f.label :current_password %>
      <i>(需要你提供旧密码的确认更改)</i><br/>
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>
    <div class="actions">
      <%= f.submit "更新", class: 'btn btn-red btn-block' %>
    </div>
  <% end %>
</div>
<h3>取消账户</h3>
<p><%= button_to "取消账户", registration_path(resource_name), data: {confirm: "确定取消账户吗?"}, method: :delete %></p>
<%= link_to "返回", :back %>
