<% content_for :customer_title do %>
  注册
<% end %>
<style type="text/css">
  select {
    margin:  7px auto;
    font-size: 16px;
  }
  .mask {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 250px;
    margin-top: -125px;
    margin-left: -40%;
    background-color: #fff;
    border-radius: 5px;
    padding: 0 5px;
    color: #666;
    z-index: 20;
    box-shadow: 0 0 3px #666;
  }
  #mask {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 180px;
    margin-top: -90px;
    margin-left: -40%;
    background-color: #fff;
    border-radius: 5px;
    padding: 0 5px;
    color: #666;
    z-index: 20;
    box-shadow: 0 0 3px #666;
  }
  #mask p {
    margin: 10px auto;
  }
  #mask p span {
    font-size: 20px;
    font-weight: bold;
  }
  .mask div:first-child {
    padding-top: 5px;
    font-size:20px;
    font-weight: bold;
  }
  .back {
    z-index: 11;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background:#000;
    opacity:0.5;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    display:none;
  }
  .action {
    margin: 16px auto;
    text-align: center;
  }
  .action a {
    background-color: #aa0c4f;
    color: #fff;
    border-radius: 5px;
    padding: 4px 8px;
    font-size: 20px;
  }
  #mask .action a {
    display: block;
    margin: 10px 30px;
    padding: 4px 12px;
  }
  .action a:first-child {
    margin-right: 20px;
  }
  .action a:last-child {
    margin-left: 20px;
  }*/
  body {
    margin-top: -25px;
  }
  select {
    margin-top: 5px;
  }
  .sign_submit {
    margin-bottom: 70px;
  }
</style>
<div class="form-box">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'input-group') do |f| %>
    <%= devise_error_messages! %>
    <div class="input-row">
      <%= f.label :username %>
      <%= f.text_field :username, autofocus: true %>
    </div>
    <div class="input-row">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>
    <div class="">
      <% if @validatable %>
        <em>(最少<%= @minimum_password_length %>个字符)</em>
      <% end %>
    </div>
    <div class="input-row">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
    <div class="input-row">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
    <input type="hidden" name="invite_code" value=""  class="invite_code" />
    <input type="hidden" name="province" value="" class="province" />
    <input type="hidden" name="city" value="" class="city" />
    <input type="hidden" name="region" value="" class="region" />
    <%= f.submit '注册', class: 'sign_submit btn btn-red btn-block' %>
  <% end %>
</div>
<div class="back"></div>
<div class="mask">
  <div class="input-row">
    <label>省份</label>
    <select name="province" id="s1" ></select>
  </div>
  <div class="input-row">
    <label>城市</label>
    <select name="city" id="s2"></select>
  </div>
  <div class="input-row">
    <label>地区</label>
    <select name="region" id="s3"></select>
  </div>
  <div class="action">
    <a href="javascript:void(0)" class="confirm">修改</a>
    <a href="javascript:void(0)" class="cancel">放弃</a>
  </div>
</div>
<div id="mask">
  <p>您现在位于<span id="province"></span><span id="city"></span><span id="region"></span></p>
  <div class="action">
    <a href="javascript:void(0)" id="confirm">是，确定修改</a>
    <a href="javascript:void(0)" id="cancel">不，这个挺好</a>
  </div>
</div>
<nav class="bar bar-tab">
  <a class="tab-item" href="/">
    <span class="icon icon-background-base icon-home"></span>
    <span class="tab-label">主页</span>
  </a>
  <a class="tab-item active" href="/customer/users/center">
    <span class="icon icon-background-base icon-person-hover"></span>
    <span class="tab-label">用户中心</span>
  </a>
  <a class="tab-item" href="/customer/cart">
    <span class="icon icon-background-base icon-cart"></span>
    <span class="tab-label">购物</span>
  </a>
  <a class="tab-item" href="/customer/products/search">
    <span class="icon icon-background-base icon-search"></span>
    <span class="tab-label">搜索</span>
  </a>
  <a class="tab-item" href="/customer/cats">
    <span class="icon icon-background-base icon-cat"></span>
    <span class="tab-label">分类</span>
  </a>
</nav>
<script src="/backend/assets/js/administrative-division.js" type="text/javascript"></script>
<script src="/backend/assets/js/multilevel-select.js" type="text/javascript"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.4"></script>
<script>
  function getLocationDemoA() {
    if(navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPositionDemoA);
    } else {
      alert("你的浏览器不支持地理位置定位.");
    }
  }
  function showPositionDemoA(position) {
    var location = $('.location');
    var lat = position.coords.latitude;
    var lon = position.coords.longitude;
    var point = new BMap.Point(lon, lat);
    var geoc = new BMap.Geocoder();
    geoc.getLocation(point, function(rs){
      var addComp = rs.addressComponents;
      var $username = $('#user_username');
      var $back = $('.back');
      var $hintMask = $('#mask');
      var $confirmId = $('#confirm');
      var $cancelId = $('#cancel');
      var confirms;
      $username.blur();
      //var confirms = confirm("你现在位于："+addComp.province+addComp.city+addComp.district+"！要修改地址吗？");
      $back.show();
      $back.height($(document).height());
      $hintMask.slideDown(800,function () {
        $('#province').text(addComp.province);
        $('#city').text(addComp.city);
        $('#region').text(addComp.district);
      });
      $confirmId.click(function () {
        var $confirm = $('.confirm');
        var $cancel = $('.cancel');
        var $mask = $('.mask');
        $hintMask.slideUp(800)
        $mask.slideDown(800);
        $confirm.click(function () {
          var province = $('#s1 option:selected').text();
          var city = $('#s2 option:selected').text();
          var region = $('#s3 option:selected').text();
          $('.province').val(province);
          $('.city').val(city);
          $('.region').val(region);
          $back.hide();
          $mask.slideUp(800);
          $username.focus();
        });
        $cancel.click(function () {
          $('.province').val(addComp.province);
          $('.city').val(addComp.city);
          $('.region').val(addComp.district);
          $back.hide();
          $mask.slideUp(800);
          $username.focus();
        });
      });
      $cancelId.click(function () {
        $username.focus();
        $hintMask.slideUp(800);
        $back.hide();
        $('.province').val(addComp.province);
        $('.city').val(addComp.city);
        $('.region').val(addComp.district);
      });

    });
  }

  $(document).ready(function(){
    MultilevelSelect({
      data: ADMINISTRATIVE_DIVISION,
      nodes: [$('#s1'), $('#s2'), $('#s3')]
    });

   getLocationDemoA();
    var province = $('#s1 option:selected').text();
    var city = $('#s2 option:selected').text();
    var region = $('#s3 option:selected').text();
    $('.province').val(province);
    $('.city').val(city);
    $('.region').val(region);
    var url = $.url();
    var invite_code  =  url.param("invite_code");
    if(invite_code) {
      $(".invite_code").val(invite_code[0]);
    }
  });
</script>
