
<%= form_for(@invoice, :html => {:class => "form-horizontal"}) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation" class="form-group">
      <div class="col-sm-2"></div>
      <div class="col-sm-9">
        <h2>保存时发生了<%= pluralize(@invoice.errors.count, "error") %></h2>
        <ul>
        <% @invoice.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

      <div class="form-group">
                <%= f.label :rise, :class => "col-sm-2 control-label" do %>
            <%=t 'activerecord.attributes.invoice.rise' %> <span class="symbol required"></span>
          <% end %>
          <div class="col-sm-9">
            <%= f.text_field :rise, :class => "form-control" %>
          </div>
          </div>
      <div class="form-group">
                <%= f.label :content, :class => "col-sm-2 control-label" do %>
            <%=t 'activerecord.attributes.invoice.content' %> <span class="symbol required"></span>
          <% end %>
          <div class="col-sm-9">
            <%= f.text_area :content, :class => "form-control" %>
          </div>
          </div>
      <div class="form-group">
      <label class="col-sm-2 control-label" for="submit"></label>
      <div class="col-sm-9">
        <%= f.submit("提交", class: "btn btn-yellow btn-block") %>
      </div>
    </div>
<% end %>
