
<%= form_for(@integral, :html => {:class => "form-horizontal"}) do |f| %>
  <% if @integral.errors.any? %>
    <div id="error_explanation" class="form-group">
      <div class="col-sm-2"></div>
      <div class="col-sm-9">
        <h2>保存时发生了<%= pluralize(@integral.errors.count, "error") %></h2>
        <ul>
        <% @integral.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

      <div class="form-group">
                <%= f.label :user_id, :class => "col-sm-2 control-label" do %>
            <%=t 'activerecord.attributes.integral.user_id' %> <span class="symbol required"></span>
          <% end %>
          <div class="col-sm-9">
            <%= f.number_field :user_id, :class => "form-control" %>
          </div>
          </div>
      <div class="form-group">
                <%= f.label :amount, :class => "col-sm-2 control-label" do %>
            <%=t 'activerecord.attributes.integral.amount' %> <span class="symbol required"></span>
          <% end %>
          <div class="col-sm-9">
            <%= f.text_field :amount, :class => "form-control" %>
          </div>
          </div>
      <div class="form-group">
      <label class="col-sm-2 control-label" for="submit"></label>
      <div class="col-sm-9">
        <%= f.submit("提交", class: "btn btn-yellow btn-block") %>
      </div>
    </div>
<% end %>
