<% content_for :page_title do %>
    查看<%= t 'activerecord.models.user' %>
<% end %>

<!-- start: PAGE TITLE & BREADCRUMB -->
<% content_for :page_crumbs do %>
    <ol class="breadcrumb">
      <li>
        <i class="clip-pencil"></i>
        <a href="#">
          控制面板
        </a>
      </li>
      <li class="active">
        查看<%= t 'activerecord.models.user' %>
      </li>
      <li class="search-box">
        <form class="sidebar-search">
          <div class="form-group">
            <input type="text" placeholder="Start Searching...">
            <button class="submit">
              <i class="clip-search-3"></i>
            </button>
          </div>
        </form>
      </li>
    </ol>
    <div class="page-header">
      <h1>
        <small></small>
      </h1>
    </div>
<% end %>
<!-- end: PAGE TITLE & BREADCRUMB -->

<!-- start: PAGE CONTENT -->
<div class="row">
  <div class="col-sm-12">
    <!-- start: TEXT FIELDS PANEL -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-external-link-square"></i>
        查看<%= t 'activerecord.models.user' %>
        <div class="panel-tools">
          <a class="btn btn-xs btn-link panel-collapse collapses" href="#">
          </a>
          <a class="btn btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal">
            <i class="fa fa-wrench"></i>
          </a>
          <a class="btn btn-xs btn-link panel-refresh" href="#">
            <i class="fa fa-refresh"></i>
          </a>
          <a class="btn btn-xs btn-link panel-expand" href="#">
            <i class="fa fa-resize-full"></i>
          </a>
          <a class="btn btn-xs btn-link panel-close" href="#">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="panel-body">
        <div class="form-horizontal">

          <div class="form-group">
            <div class="col-sm-2 control-label"><%= t 'activerecord.attributes.user.name' %></div>
            <div class="col-sm-9">
              <div class="show-control">
                <%= @user.username %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-2 control-label"><%= t 'activerecord.attributes.user.email' %></div>
            <div class="col-sm-9">
              <div class="show-control">
                <%= @user.email %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-2 control-label"><%= t 'activerecord.attributes.user.encrypted_password' %></div>
            <div class="col-sm-9">
              <div class="show-control">
                <%= @user.encrypted_password %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-2 control-label"><%= t 'activerecord.attributes.user.reset_password_token' %></div>
            <div class="col-sm-9">
              <div class="show-control">
                <%= @user.reset_password_token %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-2 control-label"><%= t 'activerecord.attributes.user.reset_password_sent_at' %></div>
            <div class="col-sm-9">
              <div class="show-control">
                <%= @user.reset_password_sent_at %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-2 control-label"><%= t 'activerecord.attributes.user.remember_created_at' %></div>
            <div class="col-sm-9">
              <div class="show-control">
                <%= @user.remember_created_at %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-2 control-label"><%= t 'activerecord.attributes.user.sign_in_count' %></div>
            <div class="col-sm-9">
              <div class="show-control">
                <%= @user.sign_in_count %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-2 control-label"><%= t 'activerecord.attributes.user.current_sign_in_at' %></div>
            <div class="col-sm-9">
              <div class="show-control">
                <%= @user.current_sign_in_at %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-2 control-label"><%= t 'activerecord.attributes.user.last_sign_in_at' %></div>
            <div class="col-sm-9">
              <div class="show-control">
                <%= @user.last_sign_in_at %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-2 control-label"><%= t 'activerecord.attributes.user.current_sign_in_ip' %></div>
            <div class="col-sm-9">
              <div class="show-control">
                <%= @user.current_sign_in_ip %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-2 control-label"><%= t 'activerecord.attributes.user.last_sign_in_ip' %></div>
            <div class="col-sm-9">
              <div class="show-control">
                <%= @user.last_sign_in_ip %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-2 control-label"><%= t 'activerecord.attributes.user.confirmation_token' %></div>
            <div class="col-sm-9">
              <div class="show-control">
                <%= @user.confirmation_token %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-2 control-label"><%= t 'activerecord.attributes.user.confirmed_at' %></div>
            <div class="col-sm-9">
              <div class="show-control">
                <%= @user.confirmed_at %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-2 control-label"><%= t 'activerecord.attributes.user.confirmation_sent_at' %></div>
            <div class="col-sm-9">
              <div class="show-control">
                <%= @user.confirmation_sent_at %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-2 control-label"><%= t 'activerecord.attributes.user.unconfirmed_email' %></div>
            <div class="col-sm-9">
              <div class="show-control">
                <%= @user.unconfirmed_email %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end: TEXT FIELDS PANEL -->
  </div>
</div>
<!-- end: PAGE CONTENT-->
