<%= form_for(@order, :html => {:class => "form-horizontal"}) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation" class="form-group">
      <div class="col-sm-2"></div>
      <div class="col-sm-9">
        <h2>保存时发生了<%= pluralize(@order.errors.count, "error") %></h2>
        <ul>
          <% @order.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :invoice_id, :class => "col-sm-2 control-label" do %>
      <%=t 'activerecord.attributes.order.invoice_id' %>
      <span class="symbol required"></span>
    <% end %>
    <div class="col-sm-9">
      <%= f.number_field :invoice_id, in: 1..20000000, placeholder: "请输入一正整数，从1开始", required: "true", :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :user_id, :class => "col-sm-2 control-label" do %>
      <%=t 'activerecord.attributes.order.user_id' %>
      <span class="symbol required"></span>
    <% end %>
    <div class="col-sm-9">
      <%= f.number_field :user_id, in: 1..20000000, placeholder: "请输入一整数，从1开始", required: "true", :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :order_number, :class => "col-sm-2 control-label" do %>
      <%=t 'activerecord.attributes.order.order_number' %>
      <span class="symbol required"></span>
    <% end %>
    <div class="col-sm-9">
      <%= f.text_field :order_number, required: "true", :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :ship_address, :class => "col-sm-2 control-label" do %>
      <%=t 'activerecord.attributes.order.ship_address' %>
      <span class="symbol required"></span>
    <% end %>
    <div class="col-sm-9">
      <%= f.text_field :ship_address, required: "true", :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :ship_method, :class => "col-sm-2 control-label" do %>
      <%=t 'activerecord.attributes.order.ship_method' %>
      <span class="symbol required"></span>
    <% end %>
    <div class="col-sm-9">
      <%= f.text_field :ship_method, required: "true", :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :payment_method, :class => "col-sm-2 control-label" do %>
      <%=t 'activerecord.attributes.order.payment_method' %>
      <span class="symbol required"></span>
    <% end %>
    <div class="col-sm-9">
      <%= f.text_field :payment_method, required: "true", :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :freight, :class => "col-sm-2 control-label" do %>
      <%=t 'activerecord.attributes.order.freight' %>
      <span class="symbol required"></span>
    <% end %>
    <div class="col-sm-9">
      <%= f.number_field :freight, in: 0.01..20000000, placeholder: "请输入一数字，小数位数不超过两位数", required: "true", :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :package_charge, :class => "col-sm-2 control-label" do %>
      <%=t 'activerecord.attributes.order.package_charge' %>
      <span class="symbol required"></span>
    <% end %>
    <div class="col-sm-9">
      <%= f.text_field :package_charge, in: 0.01..20000000, placeholder: "请输入一数字，小数位数不超过两位数", required: "true", :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :total_price, :class => "col-sm-2 control-label" do %>
      <%=t 'activerecord.attributes.order.total_price' %>
      <span class="symbol required"></span>
    <% end %>
    <div class="col-sm-9">
      <%= f.text_field :total_price, in: 0.01..20000000, placeholder: "请输入一数字，小数位数不超过两位数", required: "true", :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :buy_date, :class => "col-sm-2 control-label" do %>
      <%=t 'activerecord.attributes.order.buy_date' %>
      <span class="symbol required"></span>
    <% end %>
    <div class="col-sm-9">
      <%= f.datetime_select :buy_date, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :order_status, :class => "col-sm-2 control-label" do %>
      <%=t 'activerecord.attributes.order.order_status' %>
      <span class="symbol required"></span>
    <% end %>
    <div class="col-sm-9">
      <%= f.number_field :order_status, required: "true", :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :pay_status, :class => "col-sm-2 control-label" do %>
      <%=t 'activerecord.attributes.order.pay_status' %>
      <span class="symbol required"></span>
    <% end %>
    <div class="col-sm-9">
      <%= f.number_field :pay_status, required: "true", :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :logistics_status, :class => "col-sm-2 control-label" do %>
      <%=t 'activerecord.attributes.order.logistics_status' %>
      <span class="symbol required"></span>
    <% end %>
    <div class="col-sm-9">
      <%= f.number_field :logistics_status, required: "true", :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :operator, :class => "col-sm-2 control-label" do %>
      <%=t 'activerecord.attributes.order.operator' %>
      <span class="symbol required"></span>
    <% end %>
    <div class="col-sm-9">
      <%= f.number_field :operator, required: "true", :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :cancel_reason, :class => "col-sm-2 control-label" do %>
      <%=t 'activerecord.attributes.order.cancel_reason' %>
      <span class="symbol required"></span>
    <% end %>
    <div class="col-sm-9">
      <%= f.text_field :cancel_reason, required: "true", :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :weixin_open_id, :class => "col-sm-2 control-label" do %>
      <%=t 'activerecord.attributes.order.weixin_open_id' %>
      <span class="symbol required"></span>
    <% end %>
    <div class="col-sm-9">
      <%= f.text_field :weixin_open_id, required: "true", :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :receive_name, :class => "col-sm-2 control-label" do %>
      <%=t 'activerecord.attributes.order.receive_name' %>
      <span class="symbol required"></span>
    <% end %>
    <div class="col-sm-9">
      <%= f.text_field :receive_name, required: "true", :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :mobile, :class => "col-sm-2 control-label" do %>
      <%=t 'activerecord.attributes.order.mobile' %>
      <span class="symbol required"></span>
    <% end %>
    <div class="col-sm-9">
      <%= f.text_field :mobile, required: "true", :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :tel, :class => "col-sm-2 control-label" do %>
      <%=t 'activerecord.attributes.order.tel' %>
      <span class="symbol required"></span>
    <% end %>
    <div class="col-sm-9">
      <%= f.text_field :tel, required: "true", :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :supplier_id, :class => "col-sm-2 control-label" do %>
      <%=t 'activerecord.attributes.order.supplier_id' %>
      <span class="symbol required"></span>
    <% end %>
    <div class="col-sm-9">
      <%= f.number_field :supplier_id, required: "true", :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :order_type, :class => "col-sm-2 control-label" do %>
      <%=t 'activerecord.attributes.order.order_type' %>
      <span class="symbol required"></span>
    <% end %>
    <div class="col-sm-9">
      <%= f.text_field :order_type, required: "true", :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="submit"></label>
    <div class="col-sm-9">
      <%= f.submit("提交", class: "btn btn-yellow btn-block") %>
    </div>
  </div>
<% end %>
