<% content_for :page_title do %>
  查看<%=t 'activerecord.models.order' %>
<% end %>
<!-- start: PAGE TITLE & BREADCRUMB -->
<% content_for :page_crumbs do %>
  <ol class="breadcrumb">
    <li>
      <i class="clip-pencil"></i>
      <a href="#">
        控制面板
      </a>
    </li>
    <li class="active">
      查看<%=t 'activerecord.models.order' %>
    </li>
    <li class="search-box">
      <form class="sidebar-search">
        <div class="form-group">
          <input type="text" placeholder="Start Searching...">
          <button class="submit">
            <i class="clip-search-3"></i>
          </button>
        </div>
      </form>
    </li>
  </ol>
  <div class="page-header">
    <h1>
      <small></small>
    </h1>
  </div>
<% end %>
<!-- end: PAGE TITLE & BREADCRUMB -->
<!-- start: PAGE CONTENT -->
<div class="row">
  <div class="col-sm-12">
    <!-- start: TEXT FIELDS PANEL -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-external-link-square"></i>
        查看<%=t 'activerecord.models.order' %>
        <div class="panel-tools">
          <a class="btn btn-xs btn-link panel-collapse collapses" href="#">
          </a>
          <a class="btn btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal">
            <i class="fa fa-wrench"></i>
          </a>
          <a class="btn btn-xs btn-link panel-refresh" href="#">
            <i class="fa fa-refresh"></i>
          </a>
          <a class="btn btn-xs btn-link panel-expand" href="#">
            <i class="fa fa-resize-full"></i>
          </a>
          <a class="btn btn-xs btn-link panel-close" href="#">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="panel-body">
        <div class="form-horizontal">
          <div class="form-group">
            <div class="col-sm-2 control-label"><%=t 'activerecord.attributes.order.invoice_id' %></div>
            <div class="col-sm-9">
              <div class="show-control">
                <%= @order.invoice_id %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-2 control-label"><%=t 'activerecord.attributes.order.user_id' %></div>
            <div class="col-sm-9">
              <div class="show-control">
                <%= @order.user_id %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-2 control-label"><%=t 'activerecord.attributes.order.order_number' %></div>
            <div class="col-sm-9">
              <div class="show-control">
                <%= @order.order_number %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-2 control-label"><%=t 'activerecord.attributes.order.ship_address' %></div>
            <div class="col-sm-9">
              <div class="show-control">
                <%= @order.ship_address %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-2 control-label"><%=t 'activerecord.attributes.order.ship_method' %></div>
            <div class="col-sm-9">
              <div class="show-control">
                <%= @order.ship_method %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-2 control-label"><%=t 'activerecord.attributes.order.payment_method' %></div>
            <div class="col-sm-9">
              <div class="show-control">
                <%= @order.payment_method %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-2 control-label"><%=t 'activerecord.attributes.order.freight' %></div>
            <div class="col-sm-9">
              <div class="show-control">
                <%= @order.freight %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-2 control-label"><%=t 'activerecord.attributes.order.package_charge' %></div>
            <div class="col-sm-9">
              <div class="show-control">
                <%= @order.package_charge %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-2 control-label"><%=t 'activerecord.attributes.order.total_price' %></div>
            <div class="col-sm-9">
              <div class="show-control">
                <%= @order.total_price %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-2 control-label"><%=t 'activerecord.attributes.order.buy_date' %></div>
            <div class="col-sm-9">
              <div class="show-control">
                <%= @order.buy_date %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-2 control-label"><%=t 'activerecord.attributes.order.order_status' %></div>
            <div class="col-sm-9">
              <div class="show-control">
                <%= @order.order_status %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-2 control-label"><%=t 'activerecord.attributes.order.pay_status' %></div>
            <div class="col-sm-9">
              <div class="show-control">
                <%= @order.pay_status %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-2 control-label"><%=t 'activerecord.attributes.order.logistics_status' %></div>
            <div class="col-sm-9">
              <div class="show-control">
                <%= @order.logistics_status %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-2 control-label"><%=t 'activerecord.attributes.order.operator' %></div>
            <div class="col-sm-9">
              <div class="show-control">
                <%= @order.operator %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-2 control-label"><%=t 'activerecord.attributes.order.cancel_reason' %></div>
            <div class="col-sm-9">
              <div class="show-control">
                <%= @order.cancel_reason %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-2 control-label"><%=t 'activerecord.attributes.order.weixin_open_id' %></div>
            <div class="col-sm-9">
              <div class="show-control">
                <%= @order.weixin_open_id %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-2 control-label"><%=t 'activerecord.attributes.order.receive_name' %></div>
            <div class="col-sm-9">
              <div class="show-control">
                <%= @order.receive_name %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-2 control-label"><%=t 'activerecord.attributes.order.mobile' %></div>
            <div class="col-sm-9">
              <div class="show-control">
                <%= @order.mobile %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-2 control-label"><%=t 'activerecord.attributes.order.tel' %></div>
            <div class="col-sm-9">
              <div class="show-control">
                <%= @order.tel %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-2 control-label"><%=t 'activerecord.attributes.order.supplier_id' %></div>
            <div class="col-sm-9">
              <div class="show-control">
                <%= @order.supplier_id %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-2 control-label"><%=t 'activerecord.attributes.order.order_type' %></div>
            <div class="col-sm-9">
              <div class="show-control">
                <%= @order.order_type %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end: TEXT FIELDS PANEL -->
  </div>
</div>
<!-- end: PAGE CONTENT-->
