<% content_for :page_title do %>
  <%=t 'activerecord.models.withdraw' %>管理
<% end %>

<!-- start: PAGE TITLE & BREADCRUMB -->
<% content_for :page_crumbs do %>
    <ol class="breadcrumb">
      <li>
        <i class="clip-pencil"></i>
        <a href="#">
          控制面板
        </a>
      </li>
      <li class="active">
        <%=t 'activerecord.models.withdraw' %>管理
      </li>
      <li class="search-box">
        <form class="sidebar-search">
          <div class="form-group">
            <input type="text" placeholder="Start Searching...">
            <button class="submit">
              <i class="clip-search-3"></i>
            </button>
          </div>
        </form>
      </li>
    </ol>
    <div class="page-header">
      <h1>
        <small></small>
      </h1>
    </div>
<% end %>
<!-- end: PAGE TITLE & BREADCRUMB -->

<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-external-link-square"></i>
    <%=t 'activerecord.models.withdraw' %>管理
    <div class="panel-tools">
      <a href="#" class="btn btn-xs btn-link panel-collapse collapses">
      </a>
      <a data-toggle="modal" href="#panel-config" class="btn btn-xs btn-link panel-config">
        <i class="fa fa-wrench"></i>
      </a>
      <a href="#" class="btn btn-xs btn-link panel-refresh">
        <i class="fa fa-refresh"></i>
      </a>
      <a href="#" class="btn btn-xs btn-link panel-expand">
        <i class="fa fa-resize-full"></i>
      </a>
      <a href="#" class="btn btn-xs btn-link panel-close">
        <i class="fa fa-times"></i>
      </a>
    </div>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table id="" class="table table-bordered table-hover">
        <thead>
          <tr>
                  <th><%=t 'activerecord.attributes.withdraw.user_id' %></th>
                  <th><%=t 'activerecord.attributes.withdraw.bank_card' %></th>
                  <th><%=t 'activerecord.attributes.withdraw.alipay' %></th>
                  <th><%=t 'activerecord.attributes.withdraw.we_chat_payment' %></th>
                  <th><%=t 'activerecord.attributes.withdraw.draw_type' %></th>
            <th><%=t 'activerecord.attributes.withdraw.draw_money' %></th>
                  <th>操作</th>
          </tr>
        </thead>
        <tbody>

        <% @withdraws.each do |withdraw| %>
          <tr>
                        <td><%= withdraw.user.username %></td>
                        <td><%= withdraw.bank_card %></td>
                        <td><%= withdraw.alipay %></td>
                        <td><%= withdraw.we_chat_payment %></td>
                        <td><%= withdraw.draw_type %></td>
                        <td><%= withdraw.draw_money %></td>
                        <td class="center">
              <%= link_to(withdraw, method: :delete, data: { confirm: '确定吗?' }, class: "btn btn-xs btn-bricky") do %>
                <i class="fa fa-trash-o"></i> 删除
              <% end %>
              <%= link_to('', class: "btn btn-xs btn-primary complete-withdraw", "data-id" => withdraw.id) do %>
                <i class="fa fa-share"></i> 提成完成
              <% end %>
              <%= link_to(edit_withdraw_path(withdraw), class: "btn btn-xs btn-green") do %>
                <i class="fa fa-edit"></i> 编辑
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= will_paginate @withdraws, renderer: BootstrapPagination::Rails %>
</div>

<script>
    $(document).ready(function() {
        $(".complete-withdraw").on('click', function() {
            if(confirm("确定已经完成该用户的提成了吗")) {
                var _id = $(this).data('id');
                $.ajax({
                    type: "GET",
                    url: "/admin/withdraws/" + _id + "/ok",
                    success: function(data) {
                        if(data.status === 'success') {
                            alert(data.msg);
                            var _href = window.location.href;
                            window.location.href = _href;
                        } else {
                            alert(data.msg);
                        }
                    }
                });
            }
            return false;
        });
    });
</script>
