<% content_for :page_title do %>
  <%=t 'activerecord.models.vritualcard' %>管理
<% end %>

<!-- start: PAGE TITLE & BREADCRUMB -->
<% content_for :page_crumbs do %>
    <ol class="breadcrumb">
      <li>
        <i class="clip-pencil"></i>
        <a href="#">
          控制面板
        </a>
      </li>
      <li class="active">
        <%=t 'activerecord.models.vritualcard' %>管理
      </li>
      <li class="search-box">
        <form class="sidebar-search">
          <div class="form-group">
            <input type="text" placeholder="Start Searching...">
            <button class="submit">
              <i class="clip-search-3"></i>
            </button>
          </div>
        </form>
      </li>
    </ol>
    <div class="page-header">
      <h1>
        <small></small>
      </h1>
    </div>
<% end %>
<!-- end: PAGE TITLE & BREADCRUMB -->

<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-external-link-square"></i>
    <%=t 'activerecord.models.vritualcard' %>管理
    <div class="panel-tools">
      <a href="#" class="btn btn-xs btn-link panel-collapse collapses">
      </a>
      <a data-toggle="modal" href="#panel-config" class="btn btn-xs btn-link panel-config">
        <i class="fa fa-wrench"></i>
      </a>
      <a href="#" class="btn btn-xs btn-link panel-refresh">
        <i class="fa fa-refresh"></i>
      </a>
      <a href="#" class="btn btn-xs btn-link panel-expand">
        <i class="fa fa-resize-full"></i>
      </a>
      <a href="#" class="btn btn-xs btn-link panel-close">
        <i class="fa fa-times"></i>
      </a>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12 space20">
        <a class="btn btn-green add-row" href="/admin/vritualcards/new">
          添加 <i class="fa fa-plus"></i>
        </a>
      </div>
    </div>
    <div class="table-responsive">
      <table id="" class="table table-bordered table-hover">
        <thead>
          <tr>
                  <th><%=t 'activerecord.attributes.vritualcard.user_id' %></th>
                  <th><%=t 'activerecord.attributes.vritualcard.money' %></th>
                  <th>操作</th>
          </tr>
        </thead>
        <tbody>

        <% @vritualcards.each do |vritualcard| %>
          <tr>
                        <td><%= vritualcard.user.username %></td>
                        <td><%= vritualcard.money %></td>
                        <td class="center">
              <%= link_to(vritualcard, method: :delete, data: { confirm: '确定吗?' }, class: "btn btn-xs btn-bricky") do %>
                <i class="fa fa-trash-o"></i> 删除
              <% end %>
              <%= link_to(vritualcard, class: "btn btn-xs btn-primary") do %>
                <i class="fa fa-share"></i> 查看
              <% end %>
              <%= link_to(edit_vritualcard_path(vritualcard), class: "btn btn-xs btn-green") do %>
                <i class="fa fa-edit"></i> 编辑
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= will_paginate @vritualcards, renderer: BootstrapPagination::Rails %>
</div>
