<% content_for :customer_title do %>
  登陆
<% end %>
<style>
  /* 登录框样式 */
  .remember-me {
    margin: 15px auto 15px 20px;
  }
  .form-box {
    margin: 10px auto;
    width: 96%;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0;
  }
  .new_user {
    padding: 0 5px;
  }
</style>
<!-- 登录框 -->
<div class="form-box">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'input-group') do |f| %>
    <div class="input-row">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, placeholder: "请输入你的邮箱帐号" %>
    </div>
    <div class="input-row">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off", placeholder: "请输入你的登录密码" %>
    </div>
    <% if devise_mapping.rememberable? -%>
      <div class="remember-me">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>
    <%= f.submit '登陆', class: 'btn btn-red btn-block' %>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
<!-- 底部导航栏 -->
<nav class="bar bar-tab">
  <a class="tab-item" href="/">
    <span class="icon icon-background-base icon-home"></span>
    <span class="tab-label">主页</span>
  </a>
  <a class="tab-item active" href="/customer/users/center">
    <span class="icon icon-background-base icon-person-hover"></span>
    <span class="tab-label">用户中心</span>
  </a>
  <a class="tab-item" href="/customer/cart">
    <span class="icon icon-background-base icon-cart"></span>
    <span class="tab-label">购物</span>
  </a>
  <a class="tab-item" href="/customer/products/search">
    <span class="icon icon-background-base icon-search"></span>
    <span class="tab-label">搜索</span>
  </a>
  <a class="tab-item" href="/customer/cats">
    <span class="icon icon-background-base icon-cat"></span>
    <span class="tab-label">分类</span>
  </a>
</nav>
