<% content_for :customer_title do %>
  <%= @cat.name %>商品列表
<% end %>
<style>
  body {
    overflow-x: hidden;
  }

  .cat-top {
    padding: 0;
    margin-top: -10px;
  }

  .cat-even {
    width: 100%;
    height: 150px;
    margin: 0;
    padding: 0;
    clear: both;
  }

  .cat-even .percent-35 {
    height: 170px;
    margin-top: -10px;
    background-image: url('/zhonglian/img/cat/even-cat.jpg');
    background-repeat: no-repeat;
    background-size: 100% 170px;
    background-position: center;
    display: block;
  }

  .percent-65 {
    height: 170px;
  }

  .percent-65 img {
    height: 160px;
    width: 100%;
  }

  .cat-even-jiantou {
    width: 25px;
    height: 25px;
    background-image: url('/zhonglian/img/cat/jiantou.png');
    background-repeat: no-repeat;
    background-size: 25px 25px;
    float: right;
    margin-right: 20px;
    margin-top: -10px;
  }

  .cat-products .product {
    width: 44%;
    height: 250px;
    margin-left: 16px;
    margin-bottom: 40px;
    background-color: #fff;
    box-shadow: 6px 6px 3px #d5d5d5;
    float: left;
  }

  .product-inf {
    width: 100%;
    height: 50px;
    background-color: #fff;
    color: #787878;
    float: left;
    text-align: left;
  }

  .product-name {
    margin-left: 5px;
  }

  .product-price {
    float: right;
    margin-right: 5px;
  }

  .cat-products .product img {
    width: 100%;
    height: 200px;
  }

  .cat-list {
    text-align: center;
    list-style: none;
    margin-left: -25px;
    margin-top: 50px;
    text-align: left;
    line-height: 5px;
  }

  .hr-style1 {
    width: 85%;
    color: #828372;
    height: 1px;
    border: 0;
    border-top: 1px solid;
  }

  .text1 {
    color: #777772;
    font-weight: bold;
  }

  .text2 {
    color: #7b7972;
    font-size: 12px;
  }

  .text3 {
    width: 90%;
    margin: 0 0 0 4%;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
  }

  .text4 {
    width: 90%;
    margin: 0 0 0 5%;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
  }

  .hr-style {
    margin-top: 30px;
  }

  .space {
    width: 100%;
    height: 90px;
    float: left;
  }

  /* use the tab to sort the product by the popularity and so on */
  .sortTab {
    list-style-type: none;
    float: left;
    width: 100%;
    padding: 0;
  }
  .sortTab > li {
    float: left;
    width: 25%;
    padding: 5px 0;
    text-align: center;
  }
  .sortTab > li.activeT {
    background-color: #f06200;
  }
  a {
    text-decoration: none;
    color: #000;
  }
  .activeT > a {
    color: #fff;
  }
  .contents {
    clear: both;
    display: none;
  }
  .activeC {
    display: block;
  }
</style>
<div class="cat-top">
  <div class="cat-even">
    <div class="percent-65"><img src="<%= @cat.img %>" alt="<%= @cat.name %>"></div>
    <div class="percent-35">
      <ul class="cat-list">
        <li>
          <span class="text1"><%= @cat.name %></span>
          <div class="cat-even-jiantou"></div>
        </li>
        <hr class="hr-style1">
        <li>
          <p class="text2">zhongleiyizhong</p>
        </li>
        <hr class="hr-style1">
      </ul>
    </div>
  </div>
</div>
<hr class="hr-style">

<ul class="sortTab">
  <li class="tabtitle"><a href="#" title="price">价格</a></li>
  <li class="tabtitle"><a href="#" title="sales">销量</a></li>
  <li class="tabtitle"><a href="#" title="popularity">人气</a></li>
  <li class="tabtitle"><a href="#" title="time">上架时间</a></li>
</ul>
<div class="tabcontent">
  <div class="cat-products contents  activeC">
    1
    <% @cat_products.each_with_index do |p, index| %>
      <a href="/customer/products/<%= p.id %>/show" data-no-turbolink>
        <div class="product">
          <img src="<%= p.img %>">
          <div class="product-inf">
            <p class="text3"><%= p.name %></p>
            <p class="text4">¥<%= p.price %></p>
          </div>
        </div>
      </a>
    <% end %>
  </div>
  <div class="cat-products contents">
    2
    <% @cat_products.each_with_index do |p, index| %>
    <a href="/customer/products/<%= p.id %>/show" data-no-turbolink>
      <div class="product">
        <img src="<%= p.img %>">
        <div class="product-inf">
          <p class="text3"><%= p.name %></p>
          <p class="text4">¥<%= p.price %></p>
        </div>
      </div>
    </a>
    <% end %>
  </div>
  <div class="cat-products contents">
    3
    <% @cat_products.each_with_index do |p, index| %>
    <a href="/customer/products/<%= p.id %>/show" data-no-turbolink>
      <div class="product">
        <img src="<%= p.img %>">
        <div class="product-inf">
          <p class="text3"><%= p.name %></p>
          <p class="text4">¥<%= p.price %></p>
        </div>
      </div>
    </a>
    <% end %>
  </div>
  <div class="cat-products contents">
    4
    <% @cat_products.each_with_index do |p, index| %>
    <a href="/customer/products/<%= p.id %>/show" data-no-turbolink>
      <div class="product">
        <img src="<%= p.img %>">
        <div class="product-inf">
          <p class="text3"><%= p.name %></p>
          <p class="text4">¥<%= p.price %></p>
        </div>
      </div>
    </a>
    <% end %>
  </div>
</div>
<div class="space">
</div>
<%= render "site/shared/bottombar" %>
<script type="text/javascript">
  $( document ).ready(function() {
      var params = $.url().param( "sort" );
      var $as = $( ".sortTab > li > a" );
      var $lis = $( ".sortTab > li" ).removeClass( "activeT" );
      var $divs = $( ".contents" ).removeClass( "activeC" );
      var img = $divs.find( "img" ).size();
      if( !img ) {
        $divs.append( "<div class='notice'>暂无商品</div>" );
      }
      if( params ) {
        $( "a[title='" + params + "']").parent().addClass( "activeT");
        var index = $as.index( $( "a[title='" + params + "']") );
        $( $divs.get(index) ).addClass( "activeC" );
      } else {
        $( "a[title='price']" ).parent().addClass( "activeT" );
        $( ".contents:eq(0)" ).addClass( "activeC" );
      }
      $( ".sortTab > li" ).on( "click", function() {
        var $this = $( this );
        var param = $this.find( "a" ).attr( "title" );
        var url = location.protocol + "//" + location.hostname + ":" + location.port + location.pathname + "?sort=" + param;
        $this.find( "a" ).attr( "href", url );
      });
  });
</script>
