<% content_for :customer_title do %>
    收货地址管理
<% end %>
<style type="text/css">
    .ship-address {
        padding: 15px;
        background-color: #ffffff;
        margin: -20px auto 0 auto;
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
    }

    .ship-address div {
        border-bottom: 1px solid #ddd;
        clear: both;
        display: block;
        height: 80px;
    }

    .p-l {
        width: 10%;
        display: block;
        float: left;
        line-height: 40px;
        height: 40px;
    }

    .p-m {
        width: 70%;
        display: block;
        float: left;
        margin: 10px 0 0 0;
        padding: 0;

    }

    .p-m span {
        line-height: 24px;
        font-size: 18px;
        color: #666;
    }
    .p-m span:last-child{
        font-size: 12px;
        padding-top: 10px;
        margin-bottom: 10px;
    }
    .p-r {
        width: 10%;
        display: block;
        float: left;
        line-height: 45px;
    }

    .p-r a {
        font-size: 24px;
        color: #dddddd;
        margin: auto auto auto 20px;
    }

    .recharge {
        width: 80%;
        margin: 20px auto 70px auto;
        display: block;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        line-height: 18px;
        padding: 15px 0;
    }
</style>
<div class="ship-address">
  <% @shipaddresses.each do |ad| %>
      <div>
        <p class="p-l"><input type="radio" name="shipaddress" value="<%= ad.id %>"/></p>

        <p class="p-m">
          <span><%= ad.receive_name %></span>
          <span style="float: right"><%= ad.mobile %></span>
          <br/>
          <span><%= ad.province %><%= ad.city %><%= ad.region %><%= ad.address %></span>
        </p>

        <p class="p-r"><a href="#">&gt;</a></p>
      </div>
  <% end %>
</div>

<a href="/customer/shipaddresses/new" class="recharge btn btn-red" data-no-turbolink>添加新地址</a>
<%= render "site/shared/bottombar" %>
<script>
  (function () {
    $(document).on('ready page:load',function(){
      var adId = ($("input[type='radio']:checked").val());
      
  });
  }).call(this);

</script>
