<% content_for :customer_title do %>
  用户中心
<% end %>
<link rel="stylesheet" href="/zhonglian/css/user_center.css">
<style type="text/css">
  .btn-check {
    border-radius: 5px;
    padding: 4px 2px;
    border: 1px solid #aa0c4f;
    color: #aa0c4f;
  }
</style>
<div class="main">
  <div class="top">
    <p><%= current_user.username %></p>
    <div class="tab">
      <div class="tab-item">
        <p><a href="/customer/users/wait/ship"><img src="/zhonglian/img/user_center/icon_wait_to_ship.png"/></a></p>
        <p>待发货</p>
      </div>
      <div class="tab-item">
        <p><a href="/customer/users/wait/pay"><img src="/zhonglian/img/user_center/icon_wait_to_pay.png"/></a></p>
        <p>待付款</p>
      </div>
      <div class="tab-item active">
        <p><img src="/zhonglian/img/user_center/icon_wait_to_receive.png"/></p>
        <p>待收货</p>
      </div>
      <div class="tab-item">
        <p><a href="/customer/users/orders/history"><img src="/zhonglian/img/user_center/icon_history_order.png"/></a></p>
        <p>历史订单</p>
      </div>
    </div>
  </div>
  <% @orders.each do |o| %>
  <div class="history_order">
    <p>订单编号：<span><%= o.order_number %></span></p>
    <% if o.order_type == '普通订单' %>
    <% o.product_orders.each do |po| %>
    <div class="ordered_product">
      <img src="<%= po.product.img if po.product %>" class="left" />
      <p class="right">
        <span class="order_price"><%= po.product.price %></span>
        <span class="order_num">×<%= po.product_count %></span>
        <span><a href="/customer/products/<%= po.product.id %>/comments/new">评论</a></span>
      </p>
      <p class="middle">
        <span><%= po.product.name %></span>
        <span><%= po.product.name %></span>
      </p>
    </div>
    <% end %>
    <% elsif o.order_type == '团购订单' %>
    <% o.group_orders.each do |po| %>
    <div class="ordered_product">
      <img src="<%= po.group.product.img if po.group %>" class="left" />
      <p class="right">
        <span class="order_price"><%= po.group.product.price %></span>
        <span class="order_num">×<%= po.group_count %></span>
        <span><a href="/customer/products/<%= po.group.product.id %>/comments/new">评论</a></span>
      </p>
      <p class="middle">
        <span><%= po.group.product.name %></span>
        <span><%= po.group.product.name %></span>
      </p>
    </div>
    <% end %>
    <% elsif o.order_type == '秒杀订单' %>
    <% o.seckill_orders.each do |po| %>
    <div class="ordered_product">
      <img src="<%= po.seckill.product.img if po.seckill %>" class="left" />
      <p class="right">
        <span class="order_price"><%= po.seckill.product.price %></span>
        <span class="order_num">×<%= po.seckill_count %></span>
        <span><a href="/customer/products/<%= po.seckill.product.id %>/comments/new">评论</a></span>
      </p>
      <p class="middle">
        <span><%= po.seckill.product.name %></span>
        <span><%= po.seckill.product.name %></span>
      </p>
    </div>
    <% end %>
    <% end %>
    <div>
      <span class="freight">运费：￥<%= o.freight %>元</span>
      <span class="sum"><%= o.total_price %></span>
      <a href="http://m.kuaidi100.com/index_all.html?type=<%= o.express_company_number %>&postid=<%= o.express_number %>&callbackurl=/customer/users/wait/receive" class="btn-check">查看物流</a>
    </div>
  </div>
  <% end %>
</div>
<script type="text/javascript" src="/zhonglian/js/user_center.js"></script>
<%= render "site/shared/bottombar" %>
