<% content_for :customer_title do %>
  会员中心
<% end %>
<style type="text/css">
  body {
    margin-top: -18px;
  }
  .vipcard {
    padding: 15px;
    background-color: #fff;
    margin: 0 auto 0 auto;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
  }

  .vipcard p {
    border-bottom: 1px solid #ddd;
  }

  .span-l {
    width: 30%;
    maring-left: 5%;
    display: block;
    float: left;
    color: #999;
    font-size: 20px;
    padding-bottom: 10px;
  }

  .span-r {
    width: 63%;
    display: block;
    margin-left: 40%;
    color: #666;
    font-size: 20px;
    word-wrap: break-word;
    padding-bottom: 10px;
  }
  .recharge {
    width: 80%;
    margin: 20px auto 70px auto;
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    padding: 15px 0;
  }
</style>
<div class="vipcard">
  <p>
    <span class="span-l">姓名</span>
    <span class="span-r"><%= @user.username %></span>
  </p>
  <p class="invite_code">
    <span class="span-l">邀请码</span>
    <span class="span-r"><%= @user.profile.invite_code %></span>
  </p>
  <p class="link_code">
    <span class="span-l">分享链接</span>
    <span class="span-r"><%= @user.profile.share_link_code %></span>
  </p>
  <p>
    <span class="span-l">余额</span>
    <span class="span-r"><%= @user.vritualcard.money %></span>
  </p>
</div>
<a href="#" class="recharge btn btn-red">充值</a>
<script type="text/javascript" src="/zhonglian/js/jquery1.8.3.js"></script>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">
    var jQuery_1_8_3 = $.noConflict(true);
</script>
<script type="text/javascript">
jQuery_1_8_3(document).ready(function($) {
  var $invite_code = $(".invite_code").find(".span-r");
  var $link_code = $(".link_code").find(".span-r");
  if (!$invite_code.text()) {
    $invite_code.css("clear","both");
  }
  if (!$link_code.text()) {
    $link_code.css("clear","both");
  }

  function isWechat(){
    var ua = navigator.userAgent.toLowerCase();
    if(ua.match( /MicroMessenger/i )=="micromessenger") {
      return true;
    } else {
      return false;
    }
  }


    // 若为微信内置浏览器，才进行各种操作
    if ( isWechat() ) {
      var appid = '<%= @share_hash[:app_id] %>';
      var timestamp= '<%= @share_hash[:timestamp] %>';
      var noncestr = '<%= @share_hash[:noncestr] %>';
      var signature = '<%= @share_hash[:signature] %>';
      var hostname = location.hostname;
      var port = location.port;
      var domain = "http://" + hostname + ':' + port;
      var link = domain + "/users/sign_in?invite_code=<%= current_user.profile.invite_code if current_user %>";
      var img_url = domain + "/zhonglian/img/index/index-ba.jpg";
      // 接口权限配置
      wx.config({
        debug: true,
        appId: appid,
        timestamp: timestamp,
        nonceStr: noncestr,
        signature: signature,
        jsApiList: ['onMenuShareAppMessage','onMenuShareTimeLine','onMenuShareWeibo','onMenuShareQQ']
      });

      // 信息验证成功
      wx.ready(function(){

        // 分享给朋友
        wx.onMenuShareAppMessage({
          title: '诚邀您加入众联酒业微信商城',
          desc: desc,
          link: link,
          imgUrl: img_url,
          type: 'link',
          success: function () {
            alert('succeed in sharing!');
          },
          cancel: function () {
            alert('cancel');
          }
        });

        // 分享到朋友圈
        wx.onMenuShareTimeline({
          title: '诚邀您加入众联酒业微信商城',
          link: link,
          imgUrl: img_url,
          success: function () {
            alert('share');
          },
          cancel: function () {
            alert('cancel')
          }
        });

        // 分享到腾讯微博
        wx.onMenuShareWeibo({
          title: '诚邀您加入众联酒业微信商城',
          desc: desc,
          link: link,
          imgUrl: img_url,
          success: function () {
            alert('share');
          },
          cancel: function () {
            alert('cancel')
          }
        });

        // 分享到QQ
        wx.onMenuShareQQ({
          title: '诚邀您加入众联酒业微信商城',
          desc: desc,
          link: link,
          imgUrl: img_url,
          success: function () {
            alert('share');
          },
          cancel: function () {
            alert('cancel')
          }
        });

      });

      // 信息验证失败
      wx.error(function( res ){
        alert(res.errMsg);
      });
    }
});

</script>
<%= render "site/shared/bottombar" %>
