<% content_for :customer_title do %>
    秒杀
<% end %>
<script src="/zhonglian/js/show_seckill.js"></script>
<style type="text/css">
body {
  overflow-x: hidden;
  margin-top: -20px;
}

.top-img {
  width: 100%;
  height: 320px;
  text-align: center;
}

.top-img img {
  height: 320px;
  width: 250px;
  vertical-align: middle;
}

.p-charge {
  height: 70px;
  padding: 0 20px;
  color: #787878;
  margin: 0 auto;
}

.p-charge > div{
  padding:0 ;
  margin: 0 auto;
}

.p-charge>div:first-child>span:first-child,.p-charge .freight{
  font-size: 14px;
}

.p-charge>div  span{
  margin-right: 2px;
  text-align: justify;
}

.p-charge>div:first-child>span:nth-child(2){
  font-size: 12px;
}

.seckill-inf{
  color: #f06200;
  font-size: 20px;
}

.p-charge .seckill-price {
  color: #f06200;
  font-size: 24px;
}
.p-charge .price {
  color: #787878;
  font-size: 16px;
  text-decoration: line-through;
}

.p-ampunt {
  height: 35px;
  padding: 0;
  clear: both;
  width: 100%;
  color: #787878;
}

.p-ampunt div {
  float: left;
  vertical-align: middle;
  line-height: 30px;
  height: 30px;
}

.p-ampunt div:first-child{
  margin-left: 20px;
}

.ampunt-action  button , .ampunt-action .p-num{
  border-style: solid;
  border-color: #dfdfdf;
  height: 30px;
  float: left;
  line-height: 30px;
}

.ampunt-action button{
  width: 30px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  background-color: #dfdfdf;
}

.ampunt-action .p-num{
  margin: 0;
  padding: 0;
  border-width: 0;
  width: 50px;
  text-align: center;
  color: #787878;
}

.ampunt-action .action-de{
  border-width: 1px 0 1px 1px;
  border-radius: 5px 0 0 5px;
}

.ampunt-action .action-plus{
  border-width: 1px 1px 1px 0;
  border-radius: 0 5px 5px 0;
}

.p-purchase {
  height: 60px;
  padding: 0 10px;
  clear: both;
  text-align: center;
}

.num-inf {
  float: left;
  font-size: 14px;
  margin-left: 5px;
}

.num-inf p {
  margin: 0;
  padding: 0;
  line-height: 16px;
}

.sell-num {
  font-size: 14px;
}

.over-num {
  font-size: 14px;
}
.p-purchase button {
  width: 50%;
  height: 35px;
  line-height: 35px;
  font-size: 20px;
  vertical-align: middle;
  color: #787878;
}

.p-purchase .btn-add {
  background-color: #dfdfdf;
}

.p-purchase .btn-red {
  color: #fff;
}

#share > button {
  font-size: 20px;
  height: 35px;
  line-height: 35px;
  vertical-align: middle;
  width: 50%;
  margin: 0 auto;
  text-align: cetner;
  display: block;
  background-color: #d9534f;
  border-color: #d9543f;
}
.p-comments {
  padding: 0 20px;
  height: 40px;
  clear: both;
}

.p-comments p {
  width: 100%;
  line-height: 30px;
  height: 30px;
  color: #787878;
}

.p-comments .comment-count {
  background-color: #f06200;
  border-radius: 3px;
  width: 15px;
  text-align: center;
  color: #fff;
}

.arrow {
  float: right;
  font-size: 20px;
}

.p-intro {
  height: auto;
  clear: both;
  min-height: 150px;
  margin-bottom: 70px;
  width: 100%;
}
.desc > * {
  width: 96%;
  margin: 0 auto;
  word-break: nowrap;
}
.desc img {
  width: 100%;
  margin: 0 auto;
}
.p-intro h4{
  color: #787878;
  font-weight: normal;
  margin-left: 20px;
}

.p-intro p {
  font-size: 16px;
  font-weight: normal;
}
.p-intro div {
  word-wrap: break-word;
}
.p-intro .name{
  color: #f06200;
  margin:  0;
  padding: 0;
}

.shoppingcart-animate {
  position: absolute;
  left: 41%;
  top: 25px;
  width: 25%;
  height: 60%;
  display: none;
}

.shoppingcart-animate img {
  width: 25%;
  height: 60%;
}
.back {
  z-index: 11;
  position: fixed;
  *position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  display: none;
}
.share_notice {
  display: none;
  position: fixed;
  *position: absolute;
  top: 30%;
  left: 50%;
  width: 80%;
  height: 200px;
  margin-top: -100px;
  margin-left: -40%;
  background-color: #fff;
  border-radius: 5px;
  padding-bottom: 35px;
  color: #666;
  z-index: 100;
  box-shadow: 0 0 3px #666;
}
.share_notice > img {
  width: 90%;
  height: 180px;
}
.share_notice > p {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}
 .seckill-time {
  margin: 0 auto;
  padding: 0 0 0 20px;
 }

.seckill-time-inf {
  margin: 0 auto;
  color: #787878;
  font-size: 16px;
}

.seckill-time .time-inf {
  color: #f06200;
  font-size: 18px;
}

.seckill-time .time-inf span{
  padding: 0 5px;
  background-color: #dfdfdf;
}

.seckill-msg {
  color: #f06200;
  font-size: 18px;
  display: none;
}
</style>
<div class="main">
  <input class="product-id" type="hidden" value="<%= @seckill.product.id %>">
  <div class="top-img"><img src="<%= @seckill.product.img_url %>"/></div>
  <hr/>
  <div class="p-charge">
    <div>
      <span class="product-name"><%= @seckill.product.name %></span>
      <span class="product-englishname"><%= @seckill.product.name %></span>
    </div>
    <div>
      <span class="seckill-inf">秒杀价</span><span class="seckill-price">¥ <%= @seckill.price %></span>&nbsp;
      <span class="price">¥ <%= @seckill.product.price %></span>
      <span class="freight">&nbsp;运费: ¥ <span class="freight-price"><% if @seckill.product.fright %><%= @seckill.product.fright %><% else %>0<% end %></span>元</span>
    </div>
  </div>
  <hr/>
  <div class="seckill-time">
    <input class="seckill-endtime" type="hidden" value="<%= @seckill.end_time%>">
    <div class="seckill-time-inf"><span>活动剩余时间:</span></div>
    <div class="seckill-msg"><span>活动已结束，敬请期待下一次！</span></div>
    <div class="time-inf"><img src="/zhonglian/img/seckill-icon.png"><span class="remainD"></span>天<span class="remainH"></span>小时<span class="remainM"></span>分<span class="remainS"></span>秒</div>
  </div>
  <hr/>
  <div class="p-ampunt">
    <div>数量:&nbsp;&nbsp;</div>
    <div class="ampunt-action">
      <button class="action-de" type="button">-</button>
      <input type="text" name="p-num" class="p-num" value="1">
      <button class="action-plus" type="button">+</button>
    </div>&nbsp;&nbsp;&nbsp;
    <div class="num-inf">
      <p>
        每人限购<span class="limit-num"><%= @seckill.limit_per_person %></span>件
      </P>
      <p>
        <span class="sell-num">已售:<span><%= @already_sell%></span>件</span>
        <input class="all-num" type="hidden" value="<%= @seckill.limit_product_count%>">
        <span class="over-num">剩余:<span></span>件</span>
      </p>
    </div>
  </div>
  <hr/>
  <div class="p-purchase" data-no-turbolink>
    <button class="seckill-buy-now btn btn-red" type="button">立即秒杀</button>
  </div>
  <div id="share">
    <button type="button" class='share btn btn-red'>分享获取提成</button>
  </div>
  <hr/>
  <div class="p-comments">
    <a href="/customer/products/<%= @seckill.product_id %>/comments">
      <p>商品评论&nbsp;&nbsp;<span class="comment-count">&nbsp;&nbsp;&nbsp;&nbsp;<%= @seckill.product.comment_threads.size %>&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="arrow">&gt;</span>
      </p>
    </a>
  </div>
  <hr/>
  <div class="p-intro">
    <h4>商品详情</h4>
    <div class="desc"><%= raw @seckill.description %></div>
  </div>
  <!-- 分享弹出框 -->
  <div class="share_notice">
    <img src="/zhonglian/img/share.png" />
    <p>分享可获提成</p>
  </div>
  <div class="back"></div>
</div>
<%= render "site/shared/bottombar" %>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
$(document).ready(function(){
  // 点击分享按钮，弹出引导框
  $( '.share' ).on( 'click', function() {
    $( '.back' ).show();
    $( '.share_notice' ).slideDown(800);
    setTimeout( function() {
      $( '.back' ).hide();
      $( '.share_notice' ).slideUp(800);
    },3000);
  });
  showOverNum();

  // 商品数量的加减
  var minus = $(".action-de");
  var plus = $(".action-plus");
  var numInput = $(".p-num");
  var num = 0;
  plus.on('click', function() {
    var overnum = $(".over-num").children().text();
    var limitNum = $(".limit-num").text();
    if(overnum == 0) {
      alert("商品已售完！")
    }
    else {
      num = parseInt(numInput.val());
      if(num == overnum) {
        alert("商品库存不足！")
      }
      else if (num == limitNum) {
        alert("每人限购"+limitNum+"件");
      }
      else {
        num++;
        numInput.val(num);
      }
    }
  });
  minus.on('click', function() {
    var overnum = $(".over-num").children().text();
    if (num > 1) {
      num--;
      numInput.val(num);
    } else {
      if (overnum == 0) {
        numInput.val(0);
      }
      else{
        alert("购买数量不能为0")
        numInput.val(1);
      }
    }
  });

  // 判断是否为微信内置浏览器函数
  function isWechat(){
    var ua = navigator.userAgent.toLowerCase();
    if(ua.match( /MicroMessenger/i )=="micromessenger") {
      return true;
    } else {
      return false;
    }
  }

  // 若为微信内置浏览器，才进行各种操作
  var share_param = $.url().param( "share_link_code" );
  if ( isWechat() && !share_param ) {
    alert("worked");
    var appid = '<%= @share_hash[:app_id] %>';
    var timestamp= '<%= @share_hash[:timestamp] %>';
    var noncestr = '<%= @share_hash[:noncestr] %>';
    var signature = '<%= @share_hash[:signature] %>';
    var hostname = location.hostname;
    var port = location.port;
    var desc = $( '.desc' ).text();
    var domain = "http://" + hostname + ':' + port;
    var link = domain + "/customer/seckills/<%= @seckill.id %>/show?share_link_code=<%= current_user.profile.share_link_code if current_user %>"
    var img_url = domain + "<%= @seckill.product.img_url %>";

    // 接口权限配置
    wx.config({
      debug: true,
      appId: appid,
      timestamp: timestamp,
      nonceStr: noncestr,
      signature: signature,
      jsApiList: ['onMenuShareAppMessage','onMenuShareTimeLine','onMenuShareWeibo','onMenuShareQQ']
    });

    // 信息验证成功
    wx.ready(function(){

      // 分享给朋友
      wx.onMenuShareAppMessage({
        title: '诚邀您加入众联酒业微信商城',
        desc: desc,
        link: link,
        imgUrl: img_url,
        type: 'link',
        success: function () {
          alert(link);
        },
        cancel: function () {
          alert('cancel');
        }
      });

      // 分享到朋友圈
      wx.onMenuShareTimeline({
        title: '诚邀您加入众联酒业微信商城',
        link: link,
        imgUrl: img_url,
        success: function () {
          alert(link);
        },
        cancel: function () {
          alert('cancel')
        }
      });

      // 分享到腾讯微博
      wx.onMenuShareWeibo({
        title: '诚邀您加入众联酒业微信商城',
        desc: desc,
        link: link,
        imgUrl: img_url,
        success: function () {
          alert(link);
        },
        cancel: function () {
          alert('cancel')
        }
      });

      // 分享到QQ
      wx.onMenuShareQQ({
        title: '诚邀您加入众联酒业微信商城',
        desc: desc,
        link: link,
        imgUrl: img_url,
        success: function () {
          alert(link);
        },
        cancel: function () {
          alert('cancel')
        }
      });

    });

    // 信息验证失败
    wx.error(function( res ){
      alert(res.errMsg);
    });
  }
});

function showOverNum(){
  var allNum = $(".all-num").val();
  var sellNum = $(".sell-num").children().text();
  allNum = parseInt(allNum);
  sellNum = parseInt(sellNum);
  var overNum = allNum - sellNum;
  if(overNum < 0 || overNum == 0) {
    $(".seckill-buy-now").attr("disabled","disabled");
    $(".over-num").children().text("0");
    $(".p-num").val(0);
  }
  else {
    $(".seckill-buy-now").attr("disabled",false);
    $(".over-num").children().text(overNum);
  }
}
</script>
