<% content_for :customer_title do %>
  团购
<% end %>
<script src="/zhonglian/js/show_group.js"></script>
<style type="text/css">
body {
  overflow-x: hidden;
  margin-top: -20px;
}

.top-img {
  width: 100%;
  height: 320px;
  text-align: center;
}

.top-img img {
  height: 320px;
  width: 250px;
  vertical-align: middle;
}

.p-charge {
  height: 70px;
  padding: 0 20px;
  color: #787878;
  margin: 0 auto;
}

.p-charge > div{
  padding:0 ;
  margin: 0 auto;
}

.p-charge>div:first-child>span:first-child,.p-charge .freight{
  font-size: 14px;
}

.p-charge>div  span{
  margin-right: 2px;
  text-align: justify;
}

.p-charge>div:first-child>span:nth-child(2){
  font-size: 12px;
}

.group-inf{
  color: #aa0c40;
  font-size: 20px;
}

.p-charge .group-price {
  color: #aa0c40;
  font-size: 24px;
}
.p-charge .price {
  color: #787878;
  font-size: 16px;
  text-decoration: line-through;
}

.p-ampunt {
  height: 35px;
  padding: 0;
  clear: both;
  width: 100%;
  color: #787878;
}

.p-ampunt div {
  float: left;
  vertical-align: middle;
  line-height: 30px;
  height: 30px;
}

.p-ampunt div:first-child{
  margin-left: 20px;
}

.ampunt-action  button , .ampunt-action .p-num{
  border-style: solid;
  border-color: #dfdfdf;
  height: 30px;
  float: left;
  line-height: 30px;
}

.ampunt-action button{
  width: 30px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  background-color: #dfdfdf;
}

.ampunt-action .p-num{
  margin: 0;
  padding: 0;
  border-width: 0;
  width: 50px;
  text-align: center;
  color: #787878;
}

.ampunt-action .action-de{
  border-width: 1px 0 1px 1px;
  border-radius: 5px 0 0 5px;
}

.ampunt-action .action-plus{
  border-width: 1px 1px 1px 0;
  border-radius: 0 5px 5px 0;
}

.p-purchase {
  height: 60px;
  padding: 0 10px;
  clear: both;
  text-align: center;
}

.sell-num {
  font-size: 14px;
}

.over-num {
  font-size: 14px;
}
.p-purchase button {
  width: 50%;
  height: 35px;
  line-height: 35px;
  font-size: 20px;
  vertical-align: middle;
  color: #787878;
}

.p-purchase .btn-add {
  background-color: #dfdfdf;
}

.p-purchase .btn-red {
  color: white;
}

#share > button {
  font-size: 14px;
  height: 35px;
  line-height: 35px;
  vertical-align: middle;
  width: 78%;
  margin: 0 auto;
  text-align: cetner;
  display: block;
}
.p-comments {
  padding: 0 20px;
  height: 40px;
  clear: both;
}

.p-comments p {
  width: 100%;
  line-height: 30px;
  height: 30px;
  color: #787878;
}

.p-comments .comment-count {
  background-color: #aa0c40;
  border-radius: 3px;
  width: 15px;
  text-align: center;
  color: white;
}

.arrow {
  float: right;
  font-size: 20px;
}

.p-intro {
  padding: 0 20px;
  height: auto;
  clear: both;
  min-height: 150px;
  margin-bottom: 70px;
}

.p-intro h4{
  color: #787878;
  font-weight: normal;
}

.p-intro p {
  font-size: 16px;
  font-weight: normal;
}
.p-intro div {
  word-wrap: break-word;
}
.p-intro .name{
  color: #aa0c3f;
  margin:  0;
  padding: 0;
}

.shoppingcart-animate {
  position: absolute;
  left: 41%;
  top: 25px;
  width: 25%;
  height: 60%;
  display: none;
}

.shoppingcart-animate img {
  width: 25%;
  height: 60%;
}
.back {
  z-index: 11;
  position: fixed;
  *position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  display: none;
}
.share_notice {
  display: none;
  position: fixed;
  *position: absolute;
  top: 30%;
  left: 50%;
  width: 80%;
  height: 200px;
  margin-top: -100px;
  margin-left: -40%;
  background-color: #fff;
  border-radius: 5px;
  padding-bottom: 35px;
  color: #666;
  z-index: 100;
  box-shadow: 0 0 3px #666;
}
.share_notice > img {
  width: 90%;
  height: 180px;
}
.share_notice > p {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}
</style>
<div class="main">
  <input class="product-id" type="hidden" value="<%= @group.id %>">
  <div class="top-img"><img src="<%= @group.product.img_url %>"/></div>
  <hr/>
  <div class="p-charge">
    <div>
      <span class="product-name"><%= @group.product.name %></span>
      <span class="product-englishname"><%= @group.product.name %></span>
    </div>
    <div>
      <span class="group-inf">团购价</span><span class="group-price">¥ <%= @group.price %></span>&nbsp;
      <span class="price">¥ <%= @group.product.price %></span>
      <span class="freight">&nbsp;运费: ¥ <span class="freight-price"><% if @group.product.fright %><%= @group.product.fright %><% else %>0<% end %></span>元</span>
    </div>
  </div>
  <hr/>
  <div class="p-ampunt">
    <div>数量:&nbsp;&nbsp;</div>
    <div class="ampunt-action">
      <button class="action-de" type="button">-</button>
      <input type="text" name="p-num" class="p-num" value="1">
      <button class="action-plus" type="button">+</button>
    </div>&nbsp;&nbsp;&nbsp;
    <span class="sell-num">已售:<span><%= @already_sell%></span>件</span>
    <input class="all-num" type="hidden" value="<%= @group.limit_product_count%>">
    <span class="over-num">剩余:<span></span>件</span>
  </div>
  <hr/>
  <div class="p-purchase" data-no-turbolink>
    <button class="group-buy-now btn btn-red" type="button">立即购买</button>
  </div>
  <hr/>
  <div class="p-comments">
    <a href="/customer/products/<%= @group.product_id %>/comments">
      <p>商品评论&nbsp;&nbsp;<span class="comment-count">&nbsp;&nbsp;&nbsp;&nbsp;<%= @group.product.comment_threads.size %>&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="arrow">&gt;</span>
      </p>
    </a>
  </div>
  <hr/>
  <div class="p-intro">
    <h4>商品详情</h4>
    <p class="name"><%= @group.product.name %></p>
    <div class="desc"><%= raw @group.description %></div>
  </div>
  <div class="back"></div>
</div>
<%= render "site/shared/bottombar" %>
<script>
  $(document).ready(function(){
    showOverNum();
    var minus = $(".action-de");
    var plus = $(".action-plus");
    var numInput = $(".p-num");
    var num = 0;
    plus.on('click', function() {
      var overnum = $(".over-num").children().text();
      if(overnum == 0) {
        alert("商品已售完！")
      }
      else {
        num = parseInt(numInput.val());
        if(num == overnum) {
          alert("商品余货不足！")
        }
        else {
          num++;
          numInput.val(num);
        }
      }
    });
    minus.on('click', function() {
      if (num > 0) {
        num--;
        numInput.val(num);
      } else {
        numInput.val(0);
      }
    });
  });

  function showOverNum(){
    var allNum = $(".all-num").val();
    var sellNum = $(".sell-num").children().text();
    allNum = parseInt(allNum);
    sellNum = parseInt(sellNum);
    var overNum = allNum - sellNum;
    if(overNum < 0 || overNum == 0) {
      $(".group-buy-now").attr("disabled","disabled");
      $(".over-num").children().text("0");
      $(".p-num").val(0);
    }
    else {
      $(".group-buy-now").attr("disabled",false);
      $(".over-num").children().text(overNum);
    }
  }


</script>
