<% content_for :page_title do %>
  <%=t 'activerecord.models.wx_menu' %>管理
<% end %>
<!-- start: PAGE TITLE & BREADCRUMB -->
<% content_for :page_crumbs do %>
  <ol class="breadcrumb">
    <li>
      <i class="clip-pencil"></i>
      <a href="#">
        控制面板
      </a>
    </li>
    <li class="active">
      <%=t 'activerecord.models.wx_menu' %>管理
    </li>
    <li class="search-box">
      <form class="sidebar-search">
        <div class="form-group">
          <input type="text" placeholder="Start Searching...">
          <button class="submit">
            <i class="clip-search-3"></i>
          </button>
        </div>
      </form>
    </li>
  </ol>
  <div class="page-header">
    <h1>
      <small></small>
    </h1>
  </div>
<% end %>
<!-- end: PAGE TITLE & BREADCRUMB -->
<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-external-link-square"></i>
    <%=t 'activerecord.models.wx_menu' %>管理
    <div class="panel-tools">
      <a href="#" class="btn btn-xs btn-link panel-collapse collapses">
      </a>
      <a data-toggle="modal" href="#panel-config" class="btn btn-xs btn-link panel-config">
        <i class="fa fa-wrench"></i>
      </a>
      <a href="#" class="btn btn-xs btn-link panel-refresh">
        <i class="fa fa-refresh"></i>
      </a>
      <a href="#" class="btn btn-xs btn-link panel-expand">
        <i class="fa fa-resize-full"></i>
      </a>
      <a href="#" class="btn btn-xs btn-link panel-close">
        <i class="fa fa-times"></i>
      </a>
    </div>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <ul>
      <% @wx_menus.each do |mu| %>
        <li>
          <%= mu.name %>
          <ul>
            <% subs = WxMenu.where(level: 2, parent_id: mu.id).last 5 %>
            <% subs.each do |submu| %>
              <li><%= submu.name %></li>
            <% end %>
          </ul>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
