<!DOCTYPE html>
<!-- Template Name: Clip-One - Responsive Admin Template build with Twitter Bootstrap 3.x Version: 1.4 Author: ClipTheme -->
<!--[if IE 8]>
<html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]>
<html class="ie9 no-js" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="zh-CN" class="no-js">
<!--<![endif]-->
<!-- start: HEAD -->

<head>
  <title>
    <%= yield :page_title %>
  </title>
  <!-- start: META -->
  <meta charset="utf-8" />
  <!--[if IE]>
  <meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1"/><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta content="" name="description" />
  <meta content="" name="author" />
  <!-- end: META -->
  <!-- start: MAIN CSS -->

  <%= stylesheet_link_tag 'application', media: 'all' %>

  <link rel="stylesheet" href="/backend/clip-one/assets/plugins/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/backend/clip-one/assets/fonts/style.css">
  <link rel="stylesheet" href="/backend/clip-one/assets/css/main.css">
  <link rel="stylesheet" href="/backend/clip-one/assets/css/main-responsive.css">
  <link rel="stylesheet" href="/backend/clip-one/assets/plugins/iCheck/skins/all.css">
  <link rel="stylesheet" href="/backend/clip-one/assets/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css">
  <link rel="stylesheet" href="/backend/clip-one/assets/plugins/perfect-scrollbar/src/perfect-scrollbar.css">
  <link rel="stylesheet" href="/backend/clip-one/assets/css/theme_light.css" type="text/css" id="skin_color">
  <link rel="stylesheet" href="/backend/clip-one/assets/css/print.css" type="text/css" media="print" />
  <!--[if IE 7]>
  <link rel="stylesheet" href="/backend/clip-one/assets/plugins/font-awesome/css/font-awesome-ie7.min.css">
  <![endif]-->
  <!-- end: MAIN CSS -->
  <!-- start: CSS REQUIRED FOR form ONLY -->
  <!-- end: CSS REQUIRED FOR form ONLY -->

  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <link rel="shortcut icon" href="/favicon.ico" />
  <style type="text/css">
    ul.main-navigation-menu li a .badge {
      float: none;
      margin-right: 17px;
    }
    span.title > span.badge {
      margin-left: 20px;
    }
    .badge {
      background-color: #007aff;
    }
  </style>
</head>
<!-- end: HEAD -->
<!-- start: BODY -->

<body>
  <!-- start: HEADER -->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <!-- start: TOP NAVIGATION CONTAINER -->
    <div class="container">
      <div class="navbar-header">
        <!-- start: RESPONSIVE MENU TOGGLER -->
        <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
          <span class="clip-list-2"></span>
        </button>
        <!-- end: RESPONSIVE MENU TOGGLER -->
        <!-- start: LOGO -->
        <a class="navbar-brand" href="/admin/orders">
        众联酒业
      </a>
        <!-- end: LOGO -->
      </div>
      <div class="navbar-tools">
        <!-- start: TOP NAVIGATION MENU -->
        <ul class="nav navbar-right">
          <!-- start: MESSAGE DROPDOWN -->

          <!-- end: MESSAGE DROPDOWN -->
          <!-- start: USER DROPDOWN -->

          <% if current_user %>
            <li class="dropdown current-user">
              <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" data-close-others="true" href="#">
                <img src="/backend/clip-one/assets/images/avatar-1-small.jpg" class="circle-img" alt="">
                <span class="username"><%= current_user.username %></span>
                <i class="clip-chevron-down"></i>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to edit_user_registration_path, method: :get do %>
                    <i class="clip-user-2"></i> &nbsp;修改资料
                    <% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_path, method: :delete do %>
                    <i class="clip-exit"></i> &nbsp;退出
                    <% end %>
                </li>
              </ul>
            </li>
            <% end %>

              <!-- end: USER DROPDOWN -->
              <!-- start: PAGE SIDEBAR TOGGLE -->
              <!-- end: PAGE SIDEBAR TOGGLE -->
        </ul>
        <!-- end: TOP NAVIGATION MENU -->
      </div>
    </div>
    <!-- end: TOP NAVIGATION CONTAINER -->
  </div>
  <!-- end: HEADER -->
  <!-- start: MAIN CONTAINER -->
  <div class="main-container">
    <div class="navbar-content">
      <!-- start: SIDEBAR -->
      <div class="main-navigation navbar-collapse collapse" data-no-turbolink>
        <!-- start: MAIN MENU TOGGLER BUTTON -->
        <div class="navigation-toggler">
          <i class="clip-chevron-left"></i>
          <i class="clip-chevron-right"></i>
        </div>
        <!-- end: MAIN MENU TOGGLER BUTTON -->
        <!-- start: MAIN NAVIGATION MENU -->
        <ul class="main-navigation-menu">
          <li>
            <a href="#"><i class="clip-home-3"></i>
            <span class="title"> 控制面板 </span><span class="selected"></span>
          </a>
          </li>
          <% if current_user.has_role? :admin %>
          <li>
            <a href="javascript:void(0)"><i class="clip-cog-2"></i>
              <span class="title"> 分类管理 </span><i class="icon-arrow"></i>
              <span class="selected"></span>
            </a>
            <ul class="sub-menu">
              <li>
                <a href="/admin/cats/new">
                  <span class="title"> 添加 </span>
                </a>
              </li>
              <li>
                <a href="/admin/cats/manage">
                  <span class="title"> 拖拽 </span>
                </a>
              </li>
              <li>
                <a href="/admin/cats">
                  <span class="title"> 管理 </span>
                </a>
              </li>
            </ul>
          </li>
          <% end %>
          <li>
            <a href="javascript:void(0)"><i class="clip-fullscreen-exit"></i>
              <span class="title"> 商品管理 </span><i class="icon-arrow"></i>
              <span class="selected"></span>
            </a>
            <ul class="sub-menu">
              <% if current_user.has_role? :admin %>
              <li>
                <a href="/admin/products/new">
                  <span class="title">添加商品</span>
                </a>
              </li>
              <% end %>
              <li>
                <a href="/admin/products">
                  <span class="title">管理商品</span>
                </a>
              </li>
              <% if current_user.has_role? :admin %>
              <li>
                <a href="/admin/groups/new">
                  <span class="title">添加团购</span>
                </a>
              </li>
              <li>
                <a href="/admin/groups">
                  <span class="title">管理团购</span>
                </a>
              </li>
              <li>
                <a href="/admin/seckills/new">
                  <span class="title">添加秒杀</span>
                </a>
              </li>
              <li>
                <a href="/admin/seckills">
                  <span class="title">管理秒杀</span>
                </a>
              </li>
              <% end %>
              <li>
                <a href="/admin/inventories">
                  <span class="title">库存管理</span>
                </a>
              </li>
              <li>
                <a href="/admin/comments">
                  <span class="title">评论管理</span>
                </a>
              </li>
            </ul>
          </li>
          <% if current_user.has_role? :admin %>
          <li>
            <a href="javascript:void(0)"><i class="clip-windy"></i>
              <span class="title">抽奖管理 <span class="badge"><%= PrizeUser.where(geted: 0).count %></span> </span><i class="icon-arrow"></i>
              <span class="selected"></span>
            </a>
            <ul class="sub-menu">
              <li>
                <a href="/admin/prize_acts">
                  <span class="title">抽奖活动</span>
                </a>
              </li>
              <li>
                <a href="/admin/prize_configs">
                  <span class="title">奖品设置</span>
                </a>
              </li>
              <li>
                <a href="/admin/prize_users">
                  <span class="title"><span class="badge pull-right"><%= PrizeUser.where(geted: 0).count %></span>获奖名单</span>
                </a>
              </li>
            </ul>
          </li>
          <% end %>
          <li>
            <a href="javascript:void(0)"><i class="clip-cart"></i>
              <span class="title"> 订单管理 <span class="badge"><%= Order.all.count %></span> </span><i class="icon-arrow"></i>
              <span class="selected"></span>
            </a>
            <ul class="sub-menu">
              <li>
                <a href="/admin/orders/new">
                  <span class="title">订单添加</span>
                </a>
              </li>
              <% if current_user.has_role? :admin %>
              <li>
                <a href="/admin/orders">
                  <span class="title"><span class="badge pull-right"><%= Order.all.count %></span>所有订单列表</span>
                </a>
              </li>
              <% end %>
              <li>
                <a href="/admin/orders/wait/sure">
                  <span class="title"><span class="badge pull-right"><%= Order.where(order_status: 1, pay_status: 2, logistics_status: 0, user_id: user_id_of_current_provider).count %></span>未确定订单列表</span>
                </a>
              </li>
              <li>
                <a href="/admin/orders/wait/ship">
                  <span class="title"><span class="badge pull-right"><%= Order.where(order_status: 2, pay_status: 2, logistics_status: 1, user_id: user_id_of_current_provider).count %></span>待发货订单列表</span>
                </a>
              </li>
              <li>
                <a href="/admin/orders/already/ship">
                  <span class="title"><span class="badge pull-right"><%= Order.where(order_status: 2, pay_status: 2, logistics_status: 2, user_id: user_id_of_current_provider).count %></span>已发货未收货订单列表</span>
                </a>
              </li>
              <li>
                <a href="/admin/orders/already/receive">
                  <span class="title"><span class="badge pull-right"><%= Order.where(order_status: 2, pay_status: 2, logistics_status: 3, user_id: user_id_of_current_provider).count %></span>已收货订单列表</span>
                </a>
              </li>
              <li>
                <a href="/admin/orders/already/ok">
                  <span class="title"><span class="badge pull-right"><%= Order.where(order_status: 3, pay_status: 2, logistics_status: 3, user_id: user_id_of_current_provider).count %></span>已完成订单列表</span>
                </a>
              </li>
              <li>
                <a href="/admin/orders/wait/back">
                  <span class="title"><span class="badge pull-right"><%= Order.where(order_status: 2, pay_status: 2, logistics_status: 4, user_id: user_id_of_current_provider).count %></span>待退货订单列表</span>
                </a>
              </li>
              <li>
                <a href="/admin/orders/already/cancel">
                  <span class="title"><span class="badge pull-right"><%= Order.where(order_status: 4, pay_status: 2, user_id: user_id_of_current_provider).count %></span>已取消订单列表</span>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="javascript:void(0)"><i class="clip-user-6"></i>
              <span class="title"> 用户管理 <span class="badge"><%= User.all.count %></span></span><i class="icon-arrow"></i>
              <span class="selected"></span>
            </a>
            <ul class="sub-menu">
              <% if current_user.has_role? :admin %>
              <li>
                <a href="/admin/profiles/new?action=new&role=provider">
                  <span class="title">添加区域商</span>
                </a>
	            </li>
              <% end %>
	            <% if current_user.has_role?(:admin) && !Role.find_by_name('provider').blank? %>
              <li>
                <a href="/admin/profiles?action=index&role=provider&type=all">
                  <span class="title"><span class="badge pull-right"><%= Role.find_by_name('provider').users.count %></span>区域商管理</span>
                </a>
	            </li>

              <% end %>
	            <% if current_user.has_role?(:admin) %>
              <li>
                <a href="/admin/profiles?action=index&role=customer&type=all">
                  <span class="title"><span class="badge pull-right"><%= User.all.count %></span>所有客户管理</span>
                </a>
              </li>
              <li>
                <a href="/admin/withdraws">
                  <span class="title"><span class="badge pull-right"><%= Withdraw.where(draw_status: 0).count %></span>用户提现</span>
                </a>
              </li>
              <% end %>
              <% unless Role.find_by_name('customer').blank? %>
              <li>
                <a href="/admin/profiles?action=index&role=customer&type=own">
                  <span class="title"><span class="badge pull-right"><%= Role.find_by_name('customer').users.count %></span>客户管理</span>
                </a>
              </li>
              <% end %>
            </ul>
          </li>
          <% if current_user.has_role? :admin %>
          <li>
            <a href="javascript:void(0)"><i class="clip-globe"></i>
              <span class="title"> 微信管理 </span><i class="icon-arrow"></i>
              <span class="selected"></span>
            </a>
            <ul class="sub-menu">
              <li>
                <a href="/admin/wx_menus">
                  <span class="title">自定义菜单</span>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="javascript:void(0)"><i class="clip-puzzle-4"></i>
              <span class="title"> 系统设置 </span><i class="icon-arrow"></i>
              <span class="selected"></span>
            </a>
            <ul class="sub-menu">
              <li>
                <a href="/admin/site_configs/customer/index/imgs/edit">
                  <span class="title">设置首页图片和链接</span>
                </a>
              </li>
              <li>
                <a href="/admin/site_configs/customer/index/imgs">
                  <span class="title">查看首页图片和链接</span>
                </a>
              </li>
              <li>
                <a href="/admin/site_configs/commissions/config">
                  <span class="title">提成设置</span>
                </a>
              </li>
            </ul>
          </li>
          <% end %>
        </ul>
        <!-- end: MAIN NAVIGATION MENU -->
      </div>
      <!-- end: SIDEBAR -->
    </div>
    <!-- start: PAGE -->
    <div class="main-content">
      <!-- start: PANEL CONFIGURATION MODAL FORM -->
      <!-- /.modal -->
      <!-- end: SPANEL CONFIGURATION MODAL FORM -->
      <div class="container">
        <!-- start: PAGE HEADER -->
        <div class="row">
          <div class="col-sm-12">
            <!-- start: STYLE SELECTOR BOX -->
            <!-- end: STYLE SELECTOR BOX -->
            <!-- start: PAGE TITLE & BREADCRUMB -->
            <%= yield :page_crumbs %>
              <!-- end: PAGE TITLE & BREADCRUMB -->
          </div>
        </div>
        <!-- end: PAGE HEADER -->

        <div class="row">
          <div class="col-sm-12">
            <% flash.each do |name, msg| %>
              <%= content_tag :div, msg, class: "notice alert alert-info" %>
            <% end %>
          </div>
        </div>
        <%= yield %>
      </div>
    </div>
    <!-- end: PAGE -->
  </div>
  <!-- end: MAIN CONTAINER -->
  <!-- start: FOOTER -->
  <div class="footer clearfix">
    <div class="footer-inner">
      2014 &copy; Powered By Rails.
    </div>
    <div class="footer-items">
      <span class="go-top"><i class="clip-chevron-up"></i></span>
    </div>
  </div>
  <!-- end: FOOTER -->
  <!-- start: RIGHT SIDEBAR -->

  <!-- end: RIGHT SIDEBAR -->
  <!-- start: MAIN JAVASCRIPTS -->
  <!--[if lt IE 9]>
<script src="/backend/clip-one/assets/plugins/respond.min.js"></script>
<script src="/backend/clip-one/assets/plugins/excanvas.min.js"></script>
<![endif]-->

  <script src="/backend/clip-one/assets/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js"></script>
  <script src="/backend/clip-one/assets/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
  <script src="/backend/clip-one/assets/plugins/blockUI/jquery.blockUI.js"></script>
  <script src="/backend/clip-one/assets/plugins/iCheck/jquery.icheck.min.js"></script>
  <script src="/backend/clip-one/assets/plugins/perfect-scrollbar/src/jquery.mousewheel.js"></script>
  <script src="/backend/clip-one/assets/plugins/perfect-scrollbar/src/perfect-scrollbar.js"></script>
  <script src="/backend/clip-one/assets/plugins/jquery-cookie/jquery.cookie.js"></script>
  <script src="/backend/clip-one/assets/plugins/bootstrap-colorpalette/js/bootstrap-colorpalette.js"></script>
  <script src="/backend/clip-one/assets/js/main.js"></script>
  <!-- end: MAIN JAVASCRIPTS -->
  <!-- start: JAVASCRIPTS REQUIRED FOR form ONLY -->
  <!-- end: JAVASCRIPTS REQUIRED FOR form ONLY -->


  <!-- start: JAVASCRIPTS REQUIRED FOR table export ONLY -->
  <!-- end: JAVASCRIPTS REQUIRED FOR table export ONLY -->

  <script>
    jQuery(document).on("ready page:load", function() {
      Main.init();
    });
  </script>
</body>
<!-- end: BODY -->

</html>
